.AffiliateMarketing-div {
  max-width: 100%;
}
.AffiliateMarketing-heading {
  text-align: center;
  padding-left: 20px;
  margin-top: 50px;
  font-size: 22px;
  line-height: 55px;
  color: black;
  margin-bottom: -150px;
}
.click_here {
  color: blue;
  font-weight: 500;
}
.AffiliateMarketing {
  font-size: 24px;
}

@media screen and (max-width: 1350px) {
  .AffiliateMarketing-div {
    max-width: 90%;
  }
  .AffiliateMarketing-heading {
    font-size: 19px;
  }
}
@media screen and (max-width: 1220px) {
  .AffiliateMarketing-div {
    max-width: 90%;
  }
  .AffiliateMarketing-heading {
    font-size: 20px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .AffiliateMarketing-div {
    max-width: 100%;
    margin-top: 200px;
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 1023px) {
  .AffiliateMarketing-div {
    max-width: 100%;
    margin-top: 200px;
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 900px) {
  .AffiliateMarketing-div {
    margin-top: 170px;
  }
}
@media screen and (max-width: 800px) {
  .AffiliateMarketing-div {
    margin-top: 50px;
    width: 100%;
    padding-right: 3px;
  }
}
@media screen and (max-width: 701px) {
  .AffiliateMarketing-div {
    margin-top: 150px;
  }
}
@media screen and (max-width: 540px) {
  .AffiliateMarketing-div {
    margin-top: 120px;
  }
  .AffiliateMarketing-heading {
    font-size: 18px;
    line-height: 40px;
  }
}
@media screen and (max-width: 515px) {
  .AffiliateMarketing-div {
    margin-top: 80px;
  }
}
@media screen and (max-width: 470px) {
  .AffiliateMarketing-div {
    margin-top: 200px;
  }
  .AffiliateMarketing-heading {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .AffiliateMarketing-div {
    margin-top: 100px;
  }
}
@media screen and (max-width: 430px) {
  .AffiliateMarketing-div {
    margin-top: 50px;
  }
}
@media screen and (max-width: 414px) {
  .AffiliateMarketing-div {
    margin-top: 40px;
  }
}
@media screen and (max-width: 412px) {
  .AffiliateMarketing-div {
    margin-top: 100px;
  }
}

@media screen and (max-width: 410px) {
  .AffiliateMarketing-div {
    margin-top: 100px;
  }
  .AffiliateMarketing-heading {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .AffiliateMarketing-div {
    margin-top: 30px;
  }
  .AffiliateMarketing-heading {
    font-size: 15px;
  }
}
@media screen and (max-width: 365px) {
  .AffiliateMarketing-div {
    margin-top: 90px;
    width: 100%;
    padding-right: 3px;
  }
  .AffiliateMarketing-heading {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .AffiliateMarketing-div {
    margin-top: 200px;
  }
}
@media screen and (max-width: 320px) {
  .AffiliateMarketing-div {
  }
}
@media screen and (max-width: 331px) {
  .AffiliateMarketing-div {
    margin-top: 150px;
    width: 100%;
    padding-right: 3px;
  }
}
@media screen and (max-width: 327px) {
  .AffiliateMarketing-div {
    margin-top: 200px;
    width: 100%;
    padding-right: 3px;
  }
}

@media screen and (max-width: 290px) {
  .AffiliateMarketing-div {
    margin-top: 200px;
    width: 100%;
    padding-right: 3px;
  }
  .AffiliateMarketing-heading {
    font-size: 13px;
    line-height: 20px;
  }
}
@media screen and (max-width: 280px) {
  .AffiliateMarketing-div {
    margin-top: 20px;
  }
}
@media screen and (max-width: 271px) {
  .AffiliateMarketing-div {
    margin-top: 250px;
    width: 100%;
    padding-right: 3px;
  }
  .AffiliateMarketing-heading {
    font-size: 13px;
    line-height: 20px;
  }
}
