.signUp-parent-div {
  color: black;
}
.signup-div {
  max-width: 500px;
  border:1px solid #ddd;
  border-radius: 20px;
}

.sign-head {
  font-size: 40px;
  font-weight: 500;
}
.start-text {
  font-size: 20px;
}
.input-field {
  padding: 5px;
}

.sign-up-btn {
  background-color: #10a6f1;
  padding: 6px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  width: 100%;
}

.sign-up-btn:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1200px) {
  .input-field {
    width: 300px;
    padding: 5px;
  }
  .sign-up-btn {
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  .signUp-parent-div {
  }
  .signup-div {
  }
  .input-field {
    width: 200px;
    padding: 5px;
  }
  .sign-up-btn {
    width: 200px;
  }
}
@media screen and (max-width: 800px) {
  .input-field {
    width: 150px;
    padding: 5px;
  }
  .sign-up-btn {
    width: 100px;
  }
  .signUp-parent-div {
  }
  .signup-div {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .signUp-parent-div {
    width: 30px;
  }
  .input-field {
    width: 100%;
    padding: 10px;
  }
  .sign-up-btn {
    width: 100%;
  }
  .signUp-parent-div {
    width: 100%;
  }
  .signup-div {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .input-field {
    width: 100px;
    padding: 5px;
  }
  .sign-up-btn {
    width: 100px;
  }
  .signUp-parent-div {
  }
  .signup-div {
  }
}
