.hero-main-div {
  background-color: #010313;
  padding: 5px;
  color: white;
  /* height: 1050px; */
}
.hero-child-div {
  margin-top: 10px;
}
.hero-first-heading {
  font-size: 34px;
  font-weight: 700;

  margin-bottom: 30px;
  margin-top: 50px;
  color: white;
}
.hero-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  /* background-color: red; */
}
.hero-text-div {
  text-align: left;
}
.hero-second-text-heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.hero-teacher-jack {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 800;
  color: rgb(105, 219, 185);
}

.hero-font-awesome-icon-div {
  display: flex;

  gap: 20px;
}
.hero-p-text {
  font-weight: 500;
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 20px;
}
.hero-p-text-last {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
}
.last-second-p {
  margin-bottom: 40px;
}
.learn-more-btn-and-text-div {
  text-align: left;
}
.learn-more-btn {
  background-color: yellow;
  padding: 10px;
  width: 300px;
  font-weight: 700;
  font-size: 23px;
  border-radius: 10px;
  color: black;

  margin-left: 130px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.heroBookCoverPhoto-dvi {
  /* background-color: red; */
  display: flex;
  justify-content: right;
}
.heroBookCoverPhoto-img {
  height: 800px;
  width: 550px;
  margin-bottom: -185px;
}

/* Responsive start */

@media screen and (max-width: 1675px) {
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1570px) {
  .hero-p-text {
    font-size: 20px;
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -100px;
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1530px) {
  .hero-p-text {
    font-size: 22px;
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}

@media screen and (max-width: 1555px) {
  .learn-more-btn {
    width: 50%;
  }
}
@media screen and (max-width: 1500px) {
  .learn-more-btn {
    width: 50%;
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -170px;
  }
}
@media screen and (max-width: 1470px) {
  /* .hero-main-div {
    height: 124vh;
  } */

  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
  .learn-more-btn {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (max-width: 1420px) {
  .hero-first-heading {
    font-size: 50px;
  }
  .hero-second-text-heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .hero-teacher-jack {
    font-size: 30px;
    margin-bottom: 20;
  }
  /* .hero-main-div {
    height: 120vh;
  } */

  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
  .learn-more-btn {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (max-width: 1380px) {
  .hero-first-heading {
    font-size: 45px;
  }
  .hero-second-text-heading {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .hero-teacher-jack {
    font-size: 28px;
    margin-bottom: 20;
  }
  .hero-p-text {
    font-size: 22px;
  }
  .last-second-p {
    margin-bottom: 40px;
  }
  /* .hero-main-div {
    height: 120vh;
  } */

  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
  .learn-more-btn {
    width: 50%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1350px) {
  .hero-first-heading {
  }
  .hero-second-text-heading {
  }
  .hero-teacher-jack {
  }
  .hero-p-text {
  }
  .last-second-p {
  }
  .hero-main-div {
  }

  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
  .learn-more-btn {
  }
}
@media screen and (max-width: 1310px) {
  .learn-more-btn {
    width: 32%;
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1285px) {
  .learn-more-btn {
    width: 40%;
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1250px) {
  .learn-more-btn {
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1235px) {
  .hero-grid-div {
    width: 90%;
  }
}
@media screen and (max-width: 1235px) {
  .hero-grid-div {
    width: 90%;
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1200px) {
  .hero-grid-div {
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1170px) {
  .hero-grid-div {
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1120px) {
  .hero-grid-div {
  }
}
@media screen and (max-width: 1100px) {
  .hero-grid-div {
    width: 98%;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
  }
  .heroBookCoverPhoto-dvi {
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1024px) {
  .hero-grid-div {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0px;
  }
  .hero-main-div {
    /* height: 120vh; */
  }
  .heroBookCoverPhoto-img {
    margin-bottom: -185px;
  }
}
@media screen and (max-width: 1023px) {
  .hero-main-div {
    width: 107%;
    height: 365vh;
  }
  .heroBookCoverPhoto-img {
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
    margin-top: 0;
  }

  .hero-grid-div {
    width: 100%;
    grid-template-columns: 1fr;
    padding-left: 20px;
  }
  .learn-more-btn {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  .hero-main-div {
    height: 100%;
  }
  .hero-main-div {
    background-color: #010313;
    padding: 5px;
    color: white;
    width: 103%;
  }
  .learn-more-btn {
    width: 300px;

    margin-left: 200px;
    margin-top: 25px;
  }
  .heroBookCoverPhoto-img {
  }
}
@media screen and (max-width: 745px) {
  .hero-main-div {
    height: 100%;
  }
  .heroBookCoverPhoto-img {
    margin-top: 0;
  }
}
@media screen and (max-width: 640px) {
  .hero-main-div {
    height: 100%;
  }
  .learn-more-btn {
    width: 300px;

    margin-left: 150px;
    margin-top: 25px;
  }
  .heroBookCoverPhoto-img {
  }
}
@media screen and (max-width: 580px) {
  .hero-main-div {
  }
  .learn-more-btn {
    width: 300px;

    margin-left: 110px;
    margin-top: 25px;
  }
  .heroBookCoverPhoto-img {
  }
}
@media screen and (max-width: 540px) {
  .hero-grid-div {
    width: 100%;
    grid-template-columns: 1fr;
    padding-left: 10px;
  }

  .hero-main-div {
  }
  .learn-more-btn {
    width: 300px;
  }
  .heroBookCoverPhoto-img {
  }
}
@media screen and (max-width: 470px) {
  .hero-first-heading {
    font-size: 42px;
  }
  .hero-second-text-heading {
    font-size: 32px;
  }
  .hero-teacher-jack {
    font-size: 26px;
  }
  .hero-p-text {
    font-size: 21px;
  }
  .hero-grid-div {
  }

  .hero-main-div {
  }
  .learn-more-btn {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .heroBookCoverPhoto-img {
  }
}
@media screen and (max-width: 410px) {
  .hero-main-div {
    background-color: #010313;
    padding: 5px;
    color: white;
    width: 105%;
  }
  .hero-first-heading {
    font-size: 38px;
  }
  .hero-second-text-heading {
    font-size: 30px;
  }
  .hero-teacher-jack {
    font-size: 25px;
  }
  .hero-p-text {
    font-size: 20px;
  }
  .hero-grid-div {
  }

  .hero-main-div {
  }
  .learn-more-btn {
    margin-top: 0px;
  }
  .heroBookCoverPhoto-img {
  }
}

@media screen and (max-width: 355px) {
  .hero-main-div {
    width: 120%;
  }
}
@media screen and (max-width: 340px) {
  .hero-main-div {
    width: 126%;
  }
}
@media screen and (max-width: 315px) {
  .hero-main-div {
    width: 115%;
  }
}
