.makeMoneyOnlineToday-parent-div {
  background-color: #00495c;
  padding: 50px;
  font-family: YAEtfxocAz8-0;
}

.makeMOneyOnlineToday-first-text-div {
  background-color: aliceblue;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 50px;
}
.makeMOneyOnlineToday-heading {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}
.makeMOneyOnlineToday-p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.makeMoneyOnlineToday-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}
.makeMoneyOnlineToday-flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  font-size: 30px;
  color: rgb(202, 202, 202);
}
.makeMoneyOnlineToday-flex-div i {
  font-size: 50px;
  color: black;
}
.start-earning-now-btn {
  background-color: black;
  width: 300px;
  padding: 10px;
  color: white;
  font-size: 30px;
  border-radius: 30px;
}

@media screen and (max-width: 1400px) {
  .makeMOneyOnlineToday-first-text-div {
    width: 80%;
  }
  .makeMoneyOnlineToday-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  .makeMoneyOnline-img {
    width: 550px;
    margin: auto;
  }
}
@media screen and (max-width: 950px) {
  .makeMOneyOnlineToday-first-text-div {
    width: 100%;
  }
}
@media screen and (max-width: 730px) {
  .makeMoneyOnlineToday-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  .makeMoneyOnline-img {
    width: 550px;
    margin: auto;
  }
  .makeMoneyOnlineToday-flex-div {
    font-size: 20px;
  }
  .makeMoneyOnlineToday-flex-div i {
    font-size: 20px;
  }
}
@media screen and (max-width: 540px) {
  .makeMOneyOnlineToday-heading {
    font-size: 30px;
  }
  .makeMoneyOnlineToday-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  .makeMoneyOnline-img {
    width: 550px;
    margin: auto;
  }
  .makeMoneyOnlineToday-flex-div {
    font-size: 20px;
  }
  .makeMoneyOnlineToday-flex-div i {
    font-size: 20px;
  }
}
