.product_parent_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.product_info {
  font-size: 25px;
}
.product_title {
  font-size: 40px;
}
.product_info p {
  padding: 15px 0;
}
.product_info p span {
  font-weight: 700;
}

/* ------------------- */
.e_bank {
  font-size: 25px;
}
.for_center {
  text-align: center;
}
.payment-btn {
  background-color: #10a6f1;
  margin-top: 20px;
  padding: 5px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.product_img {
  /* background-color: red; */
  max-width: 60%;
}
.img-bb {
  width: 200px;

  margin-top: 30px;
}

.ten_percent_Download {
  color: green;
  font-weight: 700;
  font-size: 40px;
}
.discount {
  font-size: 29px;
}
.submit-up-parent-div {
  padding-bottom: 10px;
}
.use_coupon_code {
  font-size: 30px;
  margin-top: 20px;
}

.submit-child-div {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid rgb(226, 221, 221);
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.bookDownloadPage-book-grid-die {
  max-width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 20px;
}

.bookDownloadPage-img {
  max-width: 100%;
}
.bookDownloadPage-text-div {
  max-width: 100%;
  margin-top: 50px;
}
.bookDownloadPage-h2 {
  font-size: 25px;
  font-weight: 700;
}

.bookDownloadPage-p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
}

.goBackBookDetails {
  background-color: darkblue;
  margin-top: 20px;
  color: white;
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
}
.product-id {
  margin-top: 5px;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 500;
}
.submit-form {
  text-align: left;

  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.select-option {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
}
form {
}
.submit-btn {
  font-weight: 500;
  font-size: 23px;
}
.submit-btn:hover {
  background-color: #aaa;
  transition: 1s;
}

.pleaseLoginLink {
  text-align: center;
  margin-bottom: 10px;
}
.bookDownloadPage-error-p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.bookDownloadPage-success-p {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  color: forestgreen;
}

/* tabs start */
.tabs_ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #eee;
  padding: 5px;
  color: black;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.tabs_ul li {
  cursor: pointer;
}
.BKash {
  background-color: #10a6f1;
  border-bottom: 2px solid black;
  padding: 10px;
}
.Nagad {
  background-color: #10a6f1;
  border-bottom: 2px solid black;
  padding: 10px;
}
.Rocket {
  background-color: #10a6f1;
  border-bottom: 2px solid black;
  padding: 10px;
}
.Bank {
  background-color: #10a6f1;
  border-bottom: 2px solid black;
  padding: 10px;
}
/* tabs end */

/* BKash tab cart start */
.tab_grid_cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.tab_cart {
  border: 3px solid rgb(255, 95, 122);
  padding: 20px;
  border-radius: 15px;
}
.BKash_Number {
  font-size: 50px;
}
/* BKash tab cart end */

@media screen and (max-width: 1550px) {
  .submit-child-div {
    max-width: 65%;
  }
}
@media screen and (max-width: 650px) {
  .bookDownloadPage-book-grid-die {
    grid-template-columns: 1fr;
  }
  .bookDownloadPage-img {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .submit-form {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .bookDownloadPage-img {
    max-width: 100%;
  }
  .bookDownloadPage-h2 {
    font-size: 22px;
  }
  .bookDownloadPage-p {
    font-size: 18px;
  }
}
