.media-parent-div {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 70px;
  border-radius: 20px;
}
.media-button-grid-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: auto;
}
.media-common-flex-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto;
}
.media-button-color-div-one {
  background-color: rgb(27, 80, 253);
  width: 80%;

  padding: 10px;
  border-radius: 30px;
  color: white;
}

.common-media-text {
  font-weight: 500;
}

.media-button-color-div-two {
  background-color: rgb(255, 6, 6);
  width: 80%;

  padding: 10px;
  border-radius: 30px;
  color: white;
}
.media-button-color-div-three {
  background-color: rgb(27, 80, 253);
  width: 80%;

  padding: 10px;
  border-radius: 30px;
  color: white;
}
.media-button-color-div-four {
  background-color: darkblue;
  width: 80%;

  padding: 10px;
  border-radius: 30px;
  color: white;
}
.media-button-color-div-five {
  background-color: rgb(236, 7, 236);
  width: 80%;

  padding: 10px;
  border-radius: 30px;
  color: white;
}

/* responsive start */

@media screen and (max-width: 1530px) {
  .media-button-color-div-one {
    width: 90%;
  }
  .media-button-color-div-two {
    width: 90%;
  }
  .media-button-color-div-three {
    width: 90%;
  }
  .media-button-color-div-four {
    width: 90%;
  }
  .media-button-color-div-five {
    width: 90%;
  }
}
@media screen and (max-width: 1380px) {
  .media-button-grid-div {
    gap: 20px;
  }
  .media-button-color-div-one {
    width: 100%;
  }
  .media-button-color-div-two {
    width: 100%;
  }
  .media-button-color-div-three {
    width: 100%;
  }
  .media-button-color-div-four {
    width: 100%;
  }
  .media-button-color-div-five {
    width: 100%;
  }
}
@media screen and (max-width: 1360px) {
  .media-parent-div {
    width: 90%;
  }
}
@media screen and (max-width: 1210px) {
  .media-button-grid-div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .media-button-grid-div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 570px) {
  .media-button-grid-div {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 350px) {
  .media-parent-div {
    width: 100%;
  }
}
