.password_input_div {
  display: inline-block;
  position: relative;
  border: 1px solid #000;
  width: 100%;
}

.password_input_div input {
  padding: 10px 5px;
  outline: none;
  border: 0;
}

.pass_icon {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}
