.NeedToConsult-heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 150px;
}
.NeedToConsult-btn {
  border: 2px solid blue;
  color: black;
  padding: 15px 40px;
  max-width: 100%;
  font-size: 25px;
  border-radius: 5px;
  margin-left: 20px;
}

.NeedToConsult-btn:hover {
  background-color: #eee;
  transition: 0.5s;
}
