.NeedToConsult_parent_div {
  margin: auto;
  text-align: center;
}
.NeedToConsult-heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}
.if_you_dont_Un {
  font-size: 21px;
}
.NeedToConsult_parent_div p {
  max-width: 80%;
  margin: auto;
}
.NeedToConsult-btn {
  border: 2px solid blue;
  color: black;
  padding: 15px 40px;
  max-width: 100%;
  font-size: 25px;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.NeedToConsult-btn:hover {
  background-color: #eee;
  transition: 0.5s;
}
