.earn-from-your-answer-parent-div {
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: rgb(250, 241, 230);
  padding: 10px;
}
.earn-from-your-answer {
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 700;
  font-family: "Alata", Helvetica, Arial, Lucida, sans-serif;
}

.earnFromYourAnswers-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  width: 100%;
  margin: auto;
}

.earnFromYourAnswers-text-div {
  text-align: left;

  margin: auto;
}
.earnFromYourAnswers-p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.earnFromYourAnswers-img-div {
}
/* .start-earning-here-btn {
  background-color: #01b67a;
  padding: 15px;
  width: 300px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 24px;
} */

.dateSendPhoto {
  width: 500px;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  .earnFromYourAnswers-grid-div {
    width: 90%;
  }
  .earnFromYourAnswers-p {
    font-size: 18px;
  }
  .earnFromYourAnswers-img-div {
  }
  .dateSendPhoto {
  }
}
@media screen and (max-width: 1100px) {
  .earnFromYourAnswers-grid-div {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .earnFromYourAnswers-text-div {
    width: 95%;
  }
  .dateSendPhoto {
    width: 100%;
    margin: auto;
  }
}

/* ------------------------------------ */

/* .earnFromYourAnswers-img-div {
  background-color: blanchedalmond;
  padding: 30px;
  margin-top: 100px;
}
.earnFromYourAnswers-img-div img {
  margin: auto;
  width: 100%;
  height: 800px;
} */
/* .earnFromYourAnswers-img-div {
  background-color: blanchedalmond;
}
.earnFromYourAnswers-img-div img {
  margin: auto;
  width: 100%;
  height: 800px;
} */
/* ----------------------------------- */
