.special-main-parent-div {
  background-color: rgb(156, 179, 255);
  padding: 20px;
}
.special-courses-h2 {
  margin-top: 30px;
  font-size: 40px;
  color: rgb(0, 54, 61);
  font-weight: 500;
}

.specialCourses-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;

  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
.specialCourses-cart {
  margin: auto;
  background-color: rgb(241, 241, 241);
  text-align: left;
  border-radius: 70px;
  width: 320px;
  height: 110%;
  position: relative;
}
.specialCourses-learning-photo {
  width: 300px;
  border-radius: 70px;
  margin: auto;
  margin-top: 14px;
}
.specialCourses-cart-text-div {
  padding: 40px;
}
.specialCourses-cart-heading {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
}

.specialCourses-read-more {
  background-color: rgb(3, 92, 103);
  color: white;
  padding: 10px;
  width: 190px;
  border-radius: 50px;
  font-size: 18px;
  position: absolute;
  bottom: 25px;
}

.specialCourses-read-more:hover {
  background-color: rgb(5, 164, 185);
  transition: 0.5s;
}

@media screen and (max-width: 1500px) {
  .specialCourses-grid-div {
    width: 100%;
  }
}
@media screen and (max-width: 1150px) {
  .specialCourses-grid-div {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media screen and (max-width: 850px) {
  .specialCourses-grid-div {
    grid-template-columns: repeat(1, 1fr);
    gap: 5%;
    margin-bottom: 200px;
  }
  .specialCourses-cart {
    width: 100%;
  }
  .specialCourses-learning-photo {
    width: 90%;
  }
}
