.ceo-main-parent-div {
  margin-bottom: 100px;
  margin-top: 50px;
}

.meetOurCeo-grid-div {
  align-items: center;
  width: 90%;
  padding: 10px 50px;
  margin: auto;
  gap: 30px;
}
.p_photo_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  /* background-color: red; */
  margin-bottom: 30px;
}
.first-ceo-img-div {
  display: block;
}
.first-ceo-img-div img {
  width: 100%;
}

.second-ceo-img-div img {
  margin: auto;
  width: 100%;
  display: none;
}
.meetOurCeo-text-div {
  text-align: left;
  margin-top: 50px;
}
.link {
  color: blue;
}
.zakir_sir_email {
  font-size: 16px;
}

.media_link {
  font-size: 16px;
  color: blue;
  text-decoration: underline;
}
.teacher-jack-ceo {
  font-size: 28px;

  font-family: "Times New Roman", Times, serif;
  color: rgb(1, 120, 156);
  margin-bottom: 20px;
}
.ceo-expert-p {
  margin-bottom: 20px;
  color: green;
}

.ceo-text-p {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 35px;
}

.ceo-learn-more-btn {
  background-color: rgb(1, 120, 156);
  padding: 10px;
  width: 250px;
  color: white;

  border-radius: 15px;
  font-size: 20px;
}

@media screen and (max-width: 1400px) {
  .meetOurCeo-grid-div {
    width: 100%;
    padding: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .meetOurCeo-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .first-ceo-img-div {
    display: block;
  }
  .second-ceo-img-div {
    display: none;
  }
}
