.tryTodayTreat-main-parent-div {
  background-color: #f8f7f3;
  padding: 20px;
}
.tryTodayTreat-parent-div {
  background-color: #72c597;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  border-radius: 50px;
  margin-bottom: 50px;
}
.step-two {
  font-size: 30px;
  font-weight: 500;
}
.tryToday {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.tryTodayTreat-p {
  font-size: 18px;
  font-weight: 400;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  color: black;
}

@media screen and (max-width: 1615px) {
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1275px) {
}
@media screen and (max-width: 1150px) {
  .tryTodayTreat-p {
    width: 70%;
  }
}
@media screen and (max-width: 1050px) {
  .tryTodayTreat-p {
    width: 80%;
  }
}
@media screen and (max-width: 925px) {
  .tryTodayTreat-p {
    width: 90%;
  }
}
@media screen and (max-width: 845px) {
  .tryToday {
    font-size: 35px;
  }
  .tryTodayTreat-p {
    width: 90%;
  }
}
@media screen and (max-width: 785px) {
  .tryToday {
    font-size: 30px;
  }
  .tryTodayTreat-p {
    font-size: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 745px) {
  .tryToday {
    font-size: 28px;
  }
  .tryTodayTreat-p {
    font-size: 14px;
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .tryToday {
    font-size: 25px;
  }
  .tryTodayTreat-p {
    font-size: 14px;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .tryToday {
    font-size: 22px;
  }
  .tryTodayTreat-p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .tryToday {
    font-size: 20px;
  }
  .tryTodayTreat-p {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  .tryTodayTreat-parent-div {
    width: 80%;
    padding: 40px;
  }
}
@media screen and (max-width: 550px) {
  .tryTodayTreat-parent-div {
    width: 90%;
    padding: 40px;
  }
}
@media screen and (max-width: 550px) {
  .tryTodayTreat-parent-div {
    width: 100%;
    padding: 40px;
  }
  .tryToday {
    font-size: 20px;
  }
  .tryTodayTreat-p {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  .tryTodayTreat-parent-div {
    width: 100%;
    padding: 40px;
  }
}
@media screen and (max-width: 345px) {
  .tryTodayTreat-parent-div {
    width: 100%;
    padding: 40px;
  }
}
