.tryTodayTreat-parent-div {
  background-color: #72c597;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  border-radius: 50px;
  margin-bottom: 50px;
}
.tryToday {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}
.tryTodayTreat-p {
  font-size: 18px;
  font-weight: 400;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  color: black;
}
.tryTodayTreat-from {
  background-color: white;
  width: 30%;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid green;
  margin-bottom: 20px;
}
.tryTodayTreat-input {
  padding: 10px;
}
.getStarted {
  background-color: rgb(202, 168, 105);
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
}

.getStarted:hover {
  background-color: rgb(5, 164, 185);
  transition: 0.5s;
}

@media screen and (max-width: 1615px) {
  .tryTodayTreat-from {
    width: 35%;
  }
}
@media screen and (max-width: 1400px) {
  .tryTodayTreat-from {
    width: 40%;
    padding: 10px;
  }
}
@media screen and (max-width: 1275px) {
  .tryTodayTreat-from {
    width: 45%;
  }
}
@media screen and (max-width: 1150px) {
  .tryTodayTreat-p {
    width: 70%;
  }
  .tryTodayTreat-from {
    width: 50%;
  }
}
@media screen and (max-width: 1050px) {
  .tryTodayTreat-p {
    width: 80%;
  }
  .tryTodayTreat-from {
    width: 60%;
    padding: 12px;
  }
  .getStarted {
    margin-left: 30px;
  }
}
@media screen and (max-width: 925px) {
  .tryTodayTreat-p {
    width: 90%;
  }
  .tryTodayTreat-from {
    width: 65%;
    padding: 12px;
  }
  .getStarted {
    margin-left: 20px;
  }
}
@media screen and (max-width: 845px) {
  .tryToday {
    font-size: 35px;
  }
  .tryTodayTreat-p {
    width: 90%;
  }
  .tryTodayTreat-from {
    width: 70%;
    padding: 12px;
  }
  .getStarted {
    margin-left: 15px;
  }
}
@media screen and (max-width: 785px) {
  .tryToday {
    font-size: 30px;
  }
  .tryTodayTreat-p {
    font-size: 16px;
    width: 100%;
  }
  .tryTodayTreat-from {
    width: 75%;
    padding: 12px;
  }
  .getStarted {
    margin-left: 15px;
  }
}
@media screen and (max-width: 745px) {
  .tryToday {
    font-size: 28px;
  }
  .tryTodayTreat-p {
    font-size: 14px;
    width: 100%;
  }
  .tryTodayTreat-from {
    width: 80%;
    padding: 12px;
  }
  .getStarted {
    margin-left: 15px;
    font-size: 12px;
  }
}
@media screen and (max-width: 670px) {
  .tryToday {
    font-size: 25px;
  }
  .tryTodayTreat-p {
    font-size: 14px;
    width: 100%;
  }
  .tryTodayTreat-from {
    width: 85%;
    padding: 12px;
  }
  .getStarted {
    margin-left: 15px;
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .tryToday {
    font-size: 22px;
  }
  .tryTodayTreat-p {
    font-size: 14px;
  }
  .tryTodayTreat-from {
    width: 90%;
    padding: 10px;
  }
  .getStarted {
    margin-left: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .tryToday {
    font-size: 20px;
  }
  .tryTodayTreat-p {
    font-size: 12px;
  }
  .tryTodayTreat-from {
    width: 95%;
    padding: 8px;
  }
  .getStarted {
    margin-left: 8px;
    font-size: 10px;
  }
}
@media screen and (max-width: 550px) {
  .tryTodayTreat-parent-div {
    width: 80%;
    padding: 40px;
  }
}
@media screen and (max-width: 550px) {
  .tryTodayTreat-parent-div {
    width: 90%;
    padding: 40px;
  }
}
@media screen and (max-width: 550px) {
  .tryTodayTreat-parent-div {
    width: 100%;
    padding: 40px;
  }
  .tryToday {
    font-size: 20px;
  }
  .tryTodayTreat-p {
    font-size: 12px;
  }
  .tryTodayTreat-from {
    width: 100%;
    padding: 8px;
  }

  .getStarted {
    margin-left: 8px;
    font-size: 10px;
  }
}
@media screen and (max-width: 550px) {
  .tryTodayTreat-parent-div {
    width: 100%;
    padding: 40px;
  }
  .tryTodayTreat-input {
    width: 170px;
  }
}
@media screen and (max-width: 345px) {
  .tryTodayTreat-parent-div {
    width: 100%;
    padding: 40px;
  }
  .lable-flex-div {
    display: flex;
    align-items: center;
  }
  .tryTodayTreat-input {
    width: 100%;
  }
  .getStarted {
    width: 75%;
  }
}
