.heading1,
.loginInfo {
  padding: 15px;
}
.heading1 {
  font-size: 22px;
}
.verification {
  margin-top: -10px;
}
.loginInfo {
}
.loginBtn {
  display: block;
  padding: 5px 25px;
}
.set_you_password {
  text-align: left;
}
.password {
  font-size: 18px;
}
.form-group label {
  text-align: left;
}

.submit_btn {
  background-color: blue;
  color: white;
  padding: 5px;
  font-size: 30px;
  width: 100%;
  border-radius: 5px;
  font-weight: 500;
}
