.our-courses-parent-div {
  background-color: rgb(250, 237, 222);
  padding: 20px;
}
.our-courses-child-div {
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-courses-first-heading {
  margin-bottom: 50px;
  font-size: 40px;
  font-family: "magnolia";
  font-weight: 800;
  color: green;
}
.our-course-cart-grid-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
}

.our-course-cart-div {
  border: 1px solid green;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  position: relative;
}

.our-course-cart-div:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(104, 253, 161, 0.63) 0px 30px 60px -30px;

  transition: 1s ease-in-out;
}
.our-course-img {
  width: 50px;
  margin: auto;

  overflow-clip-margin: content-box;
  overflow: clip;
  animation-name: infiniteUpDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}

@keyframes infiniteUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.our-course-header {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.our-course-see-more-btn {
  background-color: #ff1e1e;
  padding: 5px;
  width: 150px;
  border-radius: 15px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.our-course-see-more-btn:hover {
  background-color: black;
  color: red;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1685px) {
  .our-course-see-more-btn {
    margin-left: 1px;
  }
}
@media screen and (max-width: 1630px) {
  .our-course-see-more-btn {
    margin-left: -5px;
  }
}

@media screen and (max-width: 1620px) {
  .our-course-cart-grid-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .our-course-see-more-btn {
    margin-left: 60px;
  }
}
@media screen and (max-width: 1510px) {
  .our-course-see-more-btn {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1540px) {
  .our-course-see-more-btn {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1390px) {
  .our-course-see-more-btn {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1300px) {
  .our-course-see-more-btn {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1180px) {
  .our-course-see-more-btn {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1100px) {
  .our-course-cart-grid-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .our-course-see-more-btn {
    margin-left: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .our-course-see-more-btn {
    margin-left: 25px;
  }
}
@media screen and (max-width: 950px) {
  .our-course-see-more-btn {
    margin-left: 15px;
  }
}
@media screen and (max-width: 880px) {
  .our-course-see-more-btn {
    margin-left: 5px;
  }
}
@media screen and (max-width: 850px) {
  .our-course-cart-grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .our-course-see-more-btn {
    margin-left: 40px;
  }
}
@media screen and (max-width: 700px) {
  .our-course-see-more-btn {
    margin-left: 35px;
  }
}
@media screen and (max-width: 670px) {
  .our-course-see-more-btn {
    margin-left: 30px;
  }
}
@media screen and (max-width: 650px) {
  .our-course-see-more-btn {
    margin-left: 20px;
  }
}
@media screen and (max-width: 620px) {
  .our-course-see-more-btn {
    margin-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  .our-course-cart-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .our-course-see-more-btn {
    width: 80%;
    justify-content: center;
  }
}
@media screen and (max-width: 460px) {
  .our-course-see-more-btn {
    margin-left: 1px;
  }
}
@media screen and (max-width: 375px) {
  .our-course-see-more-btn {
    margin-left: -4px;
  }
}
@media screen and (max-width: 350px) {
  .our-course-see-more-btn {
    margin-left: -10px;
  }
}
@media screen and (max-width: 320px) {
  .our-course-see-more-btn {
    margin-left: -15px;
  }
}
