iframe {
  width: 550px;
  height: 350px;
  margin: auto;
}
.common-style-p {
  font-weight: 600;
}
.HeroDetailsPage-parent-div {
  text-align: left;
  line-height: 35px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 80%;
}
.heroDetailsPage-heading-text-div {
  /* text-align: center; */

  margin-left: 200px;
}
.skills-for-job-program {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: -15px;
  line-height: 60px;
}
.skillForWork-heading {
  font-size: 38px;
}
.who-should {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
}
.apni-ki-akjon {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.heroDetailsPage-qus {
  margin-bottom: 10px;
  font-size: 22px;
}

.HeroDetailsPage-second-parent-div {
  margin: auto;
  margin-top: 50px;
}
.heroDetailsPage-single-first-p-div {
  text-align: left;
}
.heroDetailsPage-single-first-p {
  font-size: 22px;
  line-height: 40px;
  width: 82%;
  margin: auto;
  margin-top: 50px;
}
.HeroDetailsPage-second-parent-div p {
  font-size: 18px;
}
.heroDetailsPage-video-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 50px;
}
.first-cart {
  background-color: #f4f4f4;
  padding: 20px;
}
.second-cart {
  background-color: rgb(239, 245, 253);
  padding: 20px;
}
.second-cart iframe {
  margin-left: auto;
}
.third-cart {
  background-color: #f4f4f4;
  padding: 20px;
}
.forth-cart {
  background-color: rgb(239, 245, 253);
  padding: 20px;
}
.forth-cart iframe {
  margin-left: auto;
}
.fifth-cart {
  background-color: #f4f4f4;
  padding: 20px;
}
.heroDetailsPage-p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
}

.heroDetailsPage-link {
  color: blue;
  font-weight: 500;
  margin-left: 5px;
  text-decoration: underline;
}

.backToHome {
  background-color: navy;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border-radius: 15px;
  margin-top: 50px;
}

.heroDetailsPage-last-p:first-child {
  font-size: 22px;

  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.heroDetailsPage-last-p-div {
  font-size: 22px;
  line-height: 40px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.heroDetailsPage-last-p:last-child {
  font-size: 22px;

  width: 80%;
  margin: auto;
  margin-top: 25px;
}

@media screen and (max-width: 1470px) {
  .HeroDetailsPage-parent-div {
    max-width: 90%;
  }
  .heroDetailsPage-video-grid-container {
  }
}
@media screen and (max-width: 1350px) {
  .HeroDetailsPage-parent-div {
    max-width: 95%;
  }
  .heroDetailsPage-video-grid-container {
  }
}
@media screen and (max-width: 1250px) {
  iframe {
    width: 500px;
  }
  .HeroDetailsPage-parent-div {
    max-width: 100%;
  }
  .heroDetailsPage-video-grid-container {
  }
}
@media screen and (max-width: 1150px) {
  iframe {
    width: 80%;
  }
  .HeroDetailsPage-parent-div {
  }
  .heroDetailsPage-video-grid-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1054px) {
  .heroDetailsPage-heading-text-div {
    margin-left: 150px;
  }
}
@media screen and (max-width: 731px) {
  .heroDetailsPage-heading-text-div {
    margin-left: 0px;

    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .heroDetailsPage-heading-text-div {
  }
}
@media screen and (max-width: 620px) {
  .skills-for-job-program {
    font-size: 30px;
  }
  .skillForWork-heading {
    font-size: 30px;
  }
  .who-should {
    font-size: 27px;
  }

  .heroDetailsPage-single-first-p {
    width: 100%;
  }
}
