.nav-parent-div {
  background-color: white;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.login button {
  margin-right: 10px;
  margin-left: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #15768d;
  color: #15768d;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 500;
  height: 2rem;
  padding: 0;
  text-align: center;
  width: 6rem;
}

.signUp button {
  margin-right: 50px;
  border-radius: 0.4rem;
  background-color: #15768d;
  color: white;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 500;
  height: 2rem;
  margin-left: 0.5rem;
  padding: 0;
  text-align: center;
  width: 6rem;
}
.logOut-btn {
  margin-right: 50px;
  border-radius: 0.4rem;
  background-color: #15768d;
  color: white;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 500;
  height: 2rem;
  margin-left: 0.5rem;
  padding: 0;
  text-align: center;
  width: 6rem;
}

.my_account {
  background-color: #15768d;
  color: white;
  padding: 0px 5px 0px 5px;
  font-weight: 700;
  border-radius: 10px;
}
.my_buyings_and_sales-Common {
  color: black;
}
.name_and_logOut_div {
  display: flex;
  align-items: center;

  width: 400px;
  justify-content: space-between;
}
.Navigation-Teacher-Jack-Logo {
  width: 300px;
  height: 40px;

  margin-left: 30px;
  margin-top: -10px;
}
.TeacherJackOnline {
  font-size: 40px;
  font-weight: 600;
}
.small-display-ul {
  font-family: "Mulish", sans-serif;
}

.large-display-ul {
  font-family: "Mulish", sans-serif;
}
@media screen and (max-width: 1400px) {
  .Navigation-Teacher-Jack-Logo {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1375px) {
  .Navigation-Teacher-Jack-Logo {
    margin-left: 10px;
  }
  .TeacherJackOnline {
    font-size: 26px;
  }
}
@media screen and (max-width: 1280px) {
  .TeacherJackOnline {
    font-size: 26px;
  }
  .login-and-signUp-div {
    display: flex;
    align-items: center;
  }

  .login button {
    width: 100px;
  }
  .signUp button {
    width: 100px;
  }
}
@media screen and (max-width: 1250px) {
  .teacher-jack {
    font-size: 20px;
    margin-right: 30px;
  }
  .login-and-signUp-div {
    display: flex;
    align-items: center;
  }
  .login button {
    width: 80px;
  }
  .signUp button {
    width: 80px;
  }
}
@media screen and (max-width: 1153px) {
  .TeacherJackOnline {
    font-size: 21px;
  }
  .large-display-ul li {
    font-size: 13px;
  }
  .login button {
    width: 70px;
  }
  .signUp button {
    width: 70px;
  }
}
@media screen and (max-width: 1075px) {
  .nav-parent-div {
  }
  .TeacherJackOnline {
    font-size: 19px;
  }

  .login button {
    width: 70px;
  }
  .signUp button {
    width: 70px;
  }
}
@media screen and (max-width: 1050px) {
  .nav-parent-div {
  }
  .TeacherJackOnline {
    font-size: 19px;
  }
  .large-display-ul li {
    font-size: 12px;
  }
  .login button {
    width: 68px;
  }
  .signUp button {
    width: 68px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-parent-div {
    max-width: 100%;
  }
  .TeacherJackOnline {
    font-size: 20px;
  }
  .login button {
    width: 70px;
  }
  .signUp button {
    width: 70px;
  }
}
@media screen and (max-width: 1023px) {
  .login-and-signUp-div {
    display: none;
  }
  .login-one {
    width: 100%;
    border: 2px solid rgb(105, 219, 185);
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
  }
  .signUp-one {
    font-weight: 700;
    background-color: rgb(105, 219, 185);
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .nav-parent-div {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .nav-parent-div {
    width: 110%;
  }
}
@media screen and (max-width: 360px) {
  .nav-parent-div {
    width: 118%;
  }
  .TeacherJackOnline {
    font-size: 28px;
  }
}
@media screen and (max-width: 340px) {
  .nav-parent-div {
    width: 110%;
  }
}
@media screen and (max-width: 315px) {
  .nav-parent-div {
    width: 115%;
  }
}
@media screen and (max-width: 300px) {
  .TeacherJackOnline {
    font-size: 22px;
  }
}
